* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui, sans-serif;
    background-color: #f4f4f5;
  }
  
  body > div {
    margin: auto;
  }
  #toast{
    position: fixed;
    top: 20px;
    right: 20px;
}
.toast {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px 0;
    border-radius: 5px;
    border-left: 4px solid;
    min-width: 100px;
    max-width: 400px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    z-index: 99999;
}

@keyframes slideInLeft{
    from{
        transform: translateX(calc(100% + 20px));
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut{
    to{
        opacity: 0;
        transform: translateX(calc(100% + 20px));
    }

} 
    

.toast + .toast {
    margin-top: 24px;
}
.toast_icon,
.toast_close{
    padding: 0 16px;
}
.toast_icon {
    font-size: 24px;
}
.toast--success > .toast_icon {
    color: #4caf50;
}
.toast--warning > .toast_icon {
    color: #e7c541;
}

.toast--success{
    border-color: #4caf50;
}
.toast--warning{
    border-color: #e7c541;
}
.toast_body {
    flex-grow: 1;

}
.toast_title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.toast_msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}
.toast_close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


